body {
  font-family: "Playpen Sans", cursive;
  background-color: cyan;
  box-sizing: border-box;
}

nav {
  position: relative;
  padding: 10px;
  height: 80px;
  background-color: rgb(4, 45, 74);
  color: white;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 12px -2px black;
  font-size: large;
}
nav > #links {
  color: white;
  text-decoration: none;
  font-size: x-large;
  padding: 20px;
  display: flex;
  gap: 20px;
}

nav a:hover,
nav a:visited {
  color: white;
}

main h3 {
  font-family: "Dancing Script", cursive;
  display: block;
  color: rgb(30, 30, 155);
  font-size: 30px;
  font-weight: 100;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-top: 6em;
}
main > img {
  float: right;
  height: 400px;
  width: 300px;
  margin: 10px 0 10px 10px;
  padding: 30px;
  box-shadow: 0 0 5px 1px black;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}
.card {
  width: 100%;
  padding: 30px;
}
footer {
  color: white;
  font-size: 20px;
  background-color: rgb(4, 45, 74);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 12px -2px black;
}
footer .media-link {
  height: 45px;
}
.media-text {
  display: flex;
  align-self: flex-start;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
main {
  min-height: 100vh;
  padding: 100px;
  font-size: 24px;
}
